<blockquote class="quotes">
    <p class="quotes__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quisquam maiores, amet quaerat minima blanditiis nesciunt ex saepe atque.</p>
  </blockquote>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quotes__line">
          <use xlink:href="img/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quotes__author">Ashikur Rahman</h3>
        <p class="quotes__company">Wedevs Company</p>
      </div>
    </div>
  </footer>